.logo {
  padding: 20px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
  user-select: none;          /* Non-prefixed version, currently 
                                 not supported by any browser */
   -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  pointer-events: none;
}

.logo_container {
  background-color: white;
  overflow: hidden;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate_level_1 {
  animation: rotation 2s infinite linear;
}

.rotate_level_2 {
  animation: rotation 1s infinite linear;
}

.rotate_level_3 {
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}