.logo {
  z-index: -1;
}

.rotate_level_1 {
  animation: rotation 2s infinite linear;
}

.rotate_level_2 {
  animation: rotation 1s infinite linear;
}

.rotate_level_3 {
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}