.choiceButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}